################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OASClient/bin/Debug/OASClient.vshost.exe
/OASClient/bin/Debug
/OASClient/bin/Release
/OASClient/obj
/OASModels/obj
/OASWebService/obj
/packages
/PPTChecker/bin/Debug
/PPTChecker/bin/Release
/PPTChecker/obj
