################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OASClient/bin/Debug/OASClient.vshost.exe
